- page_title '标记'

- issuables = ['issues', 'merge requests']

.top-area.adjust
  .nav-text
    = _("Labels can be applied to %{features}. Group labels are available for any project within the group.") % { features: issuables.to_sentence }

  .nav-controls
    - if can?(current_user, :admin_label, @group)
      = link_to "新建标记", new_group_label_path(@group), class: "btn btn-new"

.labels
  .other-labels
    - if @labels.present?
      %ul.content-list.manage-labels-list.js-other-labels
        = render partial: 'shared/label', subject: @group, collection: @labels, as: :label
        = paginate @labels, theme: 'gitlab'
    - else
      .nothing-here-block
        = _("No labels created yet.")
