- @content_class = "limit-container-width" unless fluid_layout
- page_title "CI / CD 设置"
- page_title "CI / CD"

- expanded = Rails.env.test?
- general_expanded = @project.errors.empty? ? expanded : true

%section.settings#js-general-pipeline-settings.no-animate{ class: ('expanded' if general_expanded) }
  .settings-header
    %h4
      常规流水线设置
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? '收起' : '展开'
    %p
      更新您的 CI/CD 配置，比如作业超时或者 Auto DevOps.
  .settings-content
    = render 'form'

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Runners 设置
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? '收起' : '展开'
    %p
      注册和查看本项目的 runner
  .settings-content
    = render 'projects/runners/index'

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Secret variables')
      = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'secret-variables'), target: '_blank', rel: 'noopener noreferrer'
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? '收起' : '展开'
    %p.append-bottom-0
      = render "ci/variables/content"
  .settings-content
    = render 'ci/variables/index', save_endpoint: project_variables_path(@project)

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      流水线触发器
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? '收起' : '展开'
    %p
      Triggers can force a specific branch or tag to get rebuilt with an API call.  These tokens will
      impersonate their associated user including their access to projects and their project
      permissions.
  .settings-content
    = render 'projects/triggers/index'
