= content_for :title do
  %h3.project-title
    Runner ##{@runner.id}
    .pull-right
      - if @runner.shared?
        %span.runner-state.runner-state-shared
          共享的
      - else
        %span.runner-state.runner-state-specific
          特定的

- add_to_breadcrumbs _("Runners"), admin_runners_path
- breadcrumb_title "##{@runner.id}"
- @no_container = true

- if @runner.shared?
  .bs-callout.bs-callout-success
    %h4 该 Runner 将会处理全部<b>未指派</b>项目的作业
    %p
      如果你想让此 Runner 只处理指定项目的构建，请在下面的表格中进行指派。
      请注意，Runner一旦被指派到指定项目，将不能再转为共享 Runner。
- else
  .bs-callout.bs-callout-info
    %h4 此 Runner 将只处理<b>被指派</b>项目的作业
    %p 你不能再将其转为共享 Runner。
%hr

.append-bottom-20
  = render '/projects/runners/form', runner: @runner, runner_form_url: admin_runner_path(@runner)

.row
  .col-md-6
    %h4 此 Runner 指派的项目
    - if @runner.projects.any?
      %table.table.assigned-projects
        %thead
          %tr
            %th 指派的项目
            %th
        - @runner.runner_projects.each do |runner_project|
          - project = runner_project.project
          - if project
            %tr.alert-info
              %td
                %strong
                  = project.full_name
              %td
                .pull-right
                  = link_to '禁用', [:admin, project.namespace.becomes(Namespace), project, runner_project], method: :delete, class: 'btn btn-danger btn-xs'

    %table.table.unassigned-projects
      %thead
        %tr
          %th 项目
          %th

      %tr
        %td
          = form_tag admin_runner_path(@runner), id: 'runner-projects-search', class: 'form-inline', method: :get do
            .form-group
              = search_field_tag :search, params[:search], class: 'form-control', spellcheck: false
            = submit_tag '搜索', class: 'btn'

        %td
      - @projects.each do |project|
        %tr
          %td
            = project.full_name
          %td
            .pull-right
              = form_for [:admin, project.namespace.becomes(Namespace), project, project.runner_projects.new] do |f|
                = f.hidden_field :runner_id, value: @runner.id
                = f.submit '启用', class: 'btn btn-xs'
    = paginate @projects, theme: "gitlab"

  .col-md-6
    %h4 此 Runner 最近完成的作业
    %table.table.ci-table.runner-builds
      %thead
        %tr
          %th 作业
          %th 状态
          %th 项目
          %th 提交
          %th 结束时间

      - @builds.each do |build|
        - project = build.project
        %tr.build
          %td.id
            - if project
              = link_to project_job_path(project, build) do
                %strong ##{build.id}
            - else
              %strong ##{build.id}

          %td.status
            = render 'ci/status/badge', status: build.detailed_status(current_user)

          %td.status
            - if project
              = project.full_name

          %td.build-link
            - if project
              = link_to pipeline_path(build.pipeline) do
                %strong= build.pipeline.short_sha

          %td.timestamp
            - if build.finished_at
              %span #{time_ago_in_words build.finished_at}之前
